---
import type { Lang } from "../i18n/utils";
import { t, withBase } from "../i18n/utils";

interface Props {
  lang: Lang;
  href?: string;
}

const { lang, href = withBase("/") } = Astro.props;
---

<a class="flex w-full max-w-35" href={href}>
  <img
    src={withBase("/logo.png")}
    title={t(lang, "header.logo.title")}
    alt={t(lang, "header.logo.alt")}
  />
</a>
